Data Analisys and Notification Flow
[{"id":"3a152f13.33ea1","type":"http request","z":"d21b331d.1f7f7","name":"API Call To Retreive Collected Data from Thingspeak","method":"GET","ret":"txt","url":"https://api.thingspeak.com/channels/170844/feeds.json?results=9999","tls":"","x":308,"y":137,"wires":[["aebb8470.311ca8"]]},{"id":"47d5174a.5c7a78","type":"inject","z":"d21b331d.1f7f7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":85,"y":66,"wires":[["3a152f13.33ea1"]]},{"id":"bce1a756.270568","type":"function","z":"d21b331d.1f7f7","name":"Compute [Avg,Min,Max] per Topic per Day","func":"var temperatures=[];\nvar humidities=[];\nvar lights=[];\nvar arr = JSON.parse(JSON.stringify(msg.payload.feeds));\n\n\n\nvar numdays=0;\nvar current_day=\"\";\nvar day=[];\n\n\n\nif(arr.length>0){\n    for(var f=0;f<arr.length;f++){\n        if(current_day!=getDay(arr[f].created_at)){\n            day[numdays]=\"\";\n            day[numdays]+=getDay(arr[f].created_at);\n            numdays++;\n            current_day=getDay(arr[f].created_at);\n            \n        }\n    }\n    \n    temperatures=create2dArray(numdays);\n    humidities=create2dArray(numdays);\n    lights=create2dArray(numdays);\n    \n    current_day=day[0];\n    \n  \n    \n}else{\n    return null;\n}\n\nvar j=0;\nvar k=0;\n\nfor(var s=0;s<arr.length;s++){\n    if(arr[s].field4!=null){\n        if(getDay(arr[s].created_at)==current_day){\n            temperatures[k][j] = Number(arr[s].field4);  \n            humidities[k][j] = Number(arr[s].field2); \n            lights[k][j] = Number(arr[s].field3); \n            j++;\n        }else{\n            current_day=getDay(arr[s].created_at);\n            k++;\n            j=0;\n            temperatures[k][j] = Number(arr[s].field4);\n            humidities[k][j] = Number(arr[s].field2); \n            lights[k][j] = Number(arr[s].field3); \n            j++;\n            \n        }\n    }\n}\n\n\n\nvar avgtemp = [];\nvar avghum = [];\nvar avglig = [];\n\nfor(var g=0;g<temperatures.length;g++){\n    for(var m=0;m<temperatures[g].length;m++){\n        if(m==0){\n            avgtemp[g]=0;\n            avghum[g]=0;\n            avglig[g]=0;\n        }\n        avgtemp[g]+=temperatures[g][m];\n        avghum[g]+=humidities[g][m];\n        avglig[g]+=lights[g][m];\n    }\n}\n\nmsg.tempresults=\"Temp(°C):\\n\";\nmsg.humresults=\"\\nHum(%RH):\\n\";\nmsg.ligresults=\"\\nLum(Lx):\\n\";\n\nfor(var c=0;c<avgtemp.length;c++){\n    avgtemp[c] = avgtemp[c]/temperatures[c].length;\n    avgtemp[c] = avgtemp[c].toFixed(2);\n    msg.tempresults +=\"\\nDay=\" + day[c] +\"\\nAvg=\" + avgtemp[c];\n    temperatures[c].sort(compare);\n    msg.tempresults +=\"\\nMin=\" + temperatures[c][0];\n    msg.tempresults +=\"\\nMax=\" + temperatures[c][(temperatures[c].length)-1]+\"\\n\";\n    \n    avghum[c] = avghum[c]/humidities[c].length;\n    avghum[c] = avghum[c].toFixed(2);\n    msg.humresults +=\"\\nDay=\" + day[c] +\"\\nAvg=\" + avghum[c];\n    humidities[c].sort(compare);\n    msg.humresults +=\"\\nMin=\" + humidities[c][0];\n    msg.humresults +=\"\\nMax=\" + humidities[c][(humidities[c].length)-1]+\"\\n\";\n    \n    avglig[c] = avglig[c]/lights[c].length;\n    avglig[c] = avglig[c].toFixed(2);\n    msg.ligresults +=\"\\nDay=\" + day[c] +\"\\nAvg=\" + avglig[c];\n    lights[c].sort(compare);\n    msg.ligresults +=\"\\nMin=\" + lights[c][0];\n    msg.ligresults +=\"\\nMax=\" + lights[c][(lights[c].length)-1]+\"\\n\";\n    \n}\n\n\n\nreturn msg;\n\nfunction getDay(timestamp){\n  var day=\"\";\n  for(var s=5;s<10;s++){\n      day+=timestamp[s];\n  }\n  return day;\n}\n\nfunction create2dArray(numrows){\n    var arr=[];\n    for(var i=0;i<numrows;i++){\n        arr[i]=[];\n    }\n    return arr;\n}\n\nfunction compare(a,b){\n    return a-b;\n}\n","outputs":1,"noerr":0,"x":574,"y":242.4444580078125,"wires":[["56aecfc8.a2e4d","463a6f0e.37596","de9939ce.2143c8","50755891.775b28"]]},{"id":"aebb8470.311ca8","type":"json","z":"d21b331d.1f7f7","name":"json","x":304,"y":244,"wires":[["bce1a756.270568"]]},{"id":"265ad1d6.ec6eae","type":"e-mail","z":"d21b331d.1f7f7","server":"smtp.gmail.com","port":"465","name":"davide.urzino@gmail.com,romeo.matteo94@gmail.com","dname":"","x":1199,"y":136,"wires":[]},{"id":"56aecfc8.a2e4d","type":"function","z":"d21b331d.1f7f7","name":"Preparation of E-Mail","func":"msg.topic=\"Resoconto analisi\"\n\nmsg.payload=\"\" + msg.tempresults + \"\\n\" + msg.humresults + \"\\n\" + msg.ligresults ;\n\nreturn msg;","outputs":1,"noerr":0,"x":851,"y":70,"wires":[["be0950b5.98409","265ad1d6.ec6eae"]]},{"id":"be0950b5.98409","type":"debug","z":"d21b331d.1f7f7","name":"","active":true,"console":"false","complete":"false","x":1160.5,"y":51,"wires":[]},{"id":"a2776cb.0dec29","type":"twitter out","z":"d21b331d.1f7f7","twitter":"","name":"Tweet","x":1285.5,"y":239,"wires":[]},{"id":"40254feb.bc4c","type":"twitter out","z":"d21b331d.1f7f7","twitter":"","name":"Tweet","x":1279.5,"y":292,"wires":[]},{"id":"d26e752.a417888","type":"twitter out","z":"d21b331d.1f7f7","twitter":"","name":"Tweet","x":1268.5,"y":341,"wires":[]},{"id":"463a6f0e.37596","type":"function","z":"d21b331d.1f7f7","name":"Preparation Twitter Post About Temperature","func":"\nmsg.payload=\"\" + msg.tempresults;\n\nreturn msg;","outputs":1,"noerr":0,"x":1014.5,"y":238,"wires":[["a2776cb.0dec29"]]},{"id":"de9939ce.2143c8","type":"function","z":"d21b331d.1f7f7","name":"Preparation Twitter Post About Humidity","func":"\n\nmsg.payload=\"\" + msg.humresults;\n\nreturn msg;","outputs":1,"noerr":0,"x":1005.5,"y":292,"wires":[["40254feb.bc4c"]]},{"id":"50755891.775b28","type":"function","z":"d21b331d.1f7f7","name":"Preparation Twitter Post About Light","func":"\n\nmsg.payload=\"\" + msg.ligresults;\n\nreturn msg;","outputs":1,"noerr":0,"x":997.5,"y":342,"wires":[["d26e752.a417888"]]}]