Retreive and Forward Sensed Data Flow
[{"id":"5bbd8bd5.405174","type":"serial in","z":"698a9a1d.d806c4","name":"","serial":"2c7ed7b8.4f95a8","x":55,"y":207,"wires":[["e4b2323f.850b8"]]},{"id":"21bbd20e.feb8ce","type":"debug","z":"698a9a1d.d806c4","name":"","active":false,"console":"false","complete":"payload","x":639,"y":146,"wires":[]},{"id":"e4b2323f.850b8","type":"function","z":"698a9a1d.d806c4","name":"Retrieve Temp Hum Lig From Serial Port","func":"var format=msg.payload;\nif(msg.payload.length==20){\nvar id=format[10];\nmsg.nodeid=id;\n\nvar hex1=format[11].toString(16);\nvar hex2=format[12].toString(16);\n// useful controls in case of a \"0\" starting hex nr\nif(hex2.length==1){\n    hex2=\"0\"+hex2;\n}\nif(hex1.length==1){\n    hex1=\"0\"+hex1;\n}\nvar valuetoconvert=parseInt(hex1+hex2,16);\nvar stemp=(valuetoconvert)*0.01-39.6;//temp from sensor\nstemp=stemp.toFixed(2);\n\n\nmsg.temp=stemp;\n\nhex1=format[13].toString(16);\nhex2=format[14].toString(16);\nif(hex2.length==1){\n    hex2=\"0\"+hex2;\n}\nif(hex1.length==1){\n    hex1=\"0\"+hex1;\n}\nvar shum=parseInt(hex1+hex2,16);\nvar humidity=-4 + 0.0405*shum + (-2.8 * Math.pow(10,-6))*(Math.pow(shum,2));\nvar humidity_true=(stemp-25)*(0.01+0.00008*shum)+humidity;\n//humidity_true = (Tc - 25) * (0.01 + 0.00008*SOrh) + humidity\n\nhumidity_true=humidity_true.toFixed(2);\nmsg.hum=humidity_true;\n\nhex1=format[15].toString(16);\nhex2=format[16].toString(16);\nif(hex2.length==1){\n    hex2=\"0\"+hex2;\n}\nif(hex1.length==1){\n    hex1=\"0\"+hex1;\n}\nvaluetoconvert=parseInt(hex1+hex2,16);\nvar vsensor=valuetoconvert/1000; //convert scale into Volts\nvar isensor=vsensor/100000; //v is calculated through a 100kOhm resistor\nvar s_lx=0.625 * Math.pow(10,6) * isensor * 1000;\ns_lx=s_lx.toFixed(2);\nmsg.lig=s_lx;\nreturn msg;\n}\n\nreturn null;\n/*\n\n*/\n","outputs":1,"noerr":0,"x":351,"y":207,"wires":[["21bbd20e.feb8ce","2a10a4d5.9b47ac","e0de7fd7.64a1a","95866c1.401189","5a36e70f.53aae8"]]},{"id":"aa7871d5.d81fd","type":"debug","z":"698a9a1d.d806c4","name":"","active":true,"console":"false","complete":"temp","x":1010,"y":20,"wires":[]},{"id":"2a10a4d5.9b47ac","type":"debug","z":"698a9a1d.d806c4","name":"","active":false,"console":"false","complete":"nodeid","x":644,"y":261,"wires":[]},{"id":"5481518.4cb99b","type":"debug","z":"698a9a1d.d806c4","name":"","active":true,"console":"false","complete":"hum","x":1006,"y":60,"wires":[]},{"id":"eb50b023.12c13","type":"debug","z":"698a9a1d.d806c4","name":"","active":true,"console":"false","complete":"lig","x":1002,"y":100,"wires":[]},{"id":"ce11b3f3.053bd","type":"debug","z":"698a9a1d.d806c4","name":"","active":true,"console":"false","complete":"false","x":1013,"y":354,"wires":[]},{"id":"5a36e70f.53aae8","type":"function","z":"698a9a1d.d806c4","name":"SetUp API Call Sparkfun Storage","func":"var PUBLIC_KEY=\"mKlaXb61pjfOwybLwm69\";\nvar PRIVATE_KEY=\"kzqrgEaWM0SA5eEj5y0o\";\nvar myurl=\"http://data.sparkfun.com/input/\"+PUBLIC_KEY+\"?private_key=\"+PRIVATE_KEY;\nmyurl+= \"&humidity=\"+msg.hum+\"&temperature=\"+msg.temp+\"&light=\"+msg.lig;\n\nmsg.url=myurl;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":562,"y":353,"wires":[["60ce7270.67183c"]]},{"id":"60ce7270.67183c","type":"http request","z":"698a9a1d.d806c4","name":"","method":"GET","ret":"txt","url":"","tls":"","x":816,"y":353,"wires":[["ce11b3f3.053bd"]]},{"id":"e0de7fd7.64a1a","type":"function","z":"698a9a1d.d806c4","name":"SetUp API Call Thingspeak Storage","func":"var API_KEY=\"GXS6GU7J6UTMSV7U\";\n\nmsg.url=\"https://api.thingspeak.com/update?api_key=\"+API_KEY+\"&field3=\"+msg.lig+\"&field2=\"+msg.hum+\"&field4=\"+msg.temp;\nreturn msg;","outputs":1,"noerr":0,"x":558,"y":54,"wires":[["e1ccb0c9.3e7a2"]]},{"id":"e1ccb0c9.3e7a2","type":"http request","z":"698a9a1d.d806c4","name":"","method":"GET","ret":"txt","url":"","tls":"","x":829,"y":55,"wires":[["aa7871d5.d81fd","5481518.4cb99b","eb50b023.12c13"]]},{"id":"fbd72206.22cc7","type":"pubnub out","z":"698a9a1d.d806c4","keys":"a071d038.d408e","channel":"TelosB","x":1236,"y":208,"wires":[]},{"id":"95866c1.401189","type":"function","z":"698a9a1d.d806c4","name":"SetUp payload for PubNub Storage and FreeBoard Visualization","func":"msg.payload={\"temp\":msg.temp,\n            \"hum\":msg.hum,\n            \"light\":msg.lig,\n            \"created_at\":Date.now()};\nreturn msg;","outputs":1,"noerr":0,"x":844.5,"y":209,"wires":[["fbd72206.22cc7"]]},{"id":"2c7ed7b8.4f95a8","type":"serial-port","z":"698a9a1d.d806c4","serialport":"COM6","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"0x7e","bin":"bin","out":"char","addchar":false},{"id":"a071d038.d408e","type":"pubnub-keys","z":"","pub_key":"pub-c-9ba4ee58-60da-4ebe-8591-63aa2314215b","sub_key":"sub-c-69dde97a-c4a7-11e6-add0-02ee2ddab7fe"}]